{% extends 'generic/object.html' %}
{% load i18n %}
{% load helpers %}
{% load plugins %}
{% load render_table from django_tables2 %}

{% block content %}
<div class="row">
    <div class="col col-md-6">
        <div class="card">
            <h5 class="card-header">{% trans "Custom Prefix" %}</h5>
            <table class="table table-hover attr-table">
                <tr>
                    <th scope="row">{% trans "Prefix" %}</th>
                    <td>{{ object.prefix }}</td>
                </tr>
                {% if object.description %}
                <tr>
                    <th scope="row">{% trans "Description" %}</th>
                    <td>{{ object.description|placeholder }}</td>
                </tr>
                {% endif %}
                {% if object.tenant %}
                <tr>
                    <th scope="row">{% trans "Tenant" %}</th>
                    <td>
                        {% if object.tenant.group %}
                            {{ object.tenant.group|linkify }} /
                        {% endif %}
                        {{ object.tenant|linkify|placeholder }}
                    </td>
                </tr>
                {% endif %}
            </table>
        </div>
        <div class="card">
            {% if address_assignments_table.rows|length == 1 %}
                <h2 class="card-header">{% trans "Address Assignment" %}</h2>
            {% else %}
                <h2 class="card-header">{% trans "Address Assignments" %}</h2>
            {% endif %}
            <div class="table-responsive">
                {% render_table address_assignments_table 'inc/table.html' %}
            </div>
        </div>
        <div class="card">
            <h2 class="card-header">{% trans "Security Policy Context" %}</h2>
            <div class="card-body">
                {% if policy_context.policy_paths %}
                    <table class="table table-hover attr-table">
                        <thead>
                            <tr>
                                <th>{% trans "Security Policy" %}</th>
                                <th>{% trans "Policy Actions" %}</th>
                                <th>{% trans "Direction" %}</th>
                                <th>{% trans "Security Zones" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in policy_context.policy_paths %}
                                <tr>
                                    <td>{{ row.policy|linkify }}</td>
                                    <td>
                                        {% for action in row.policy_actions %}
                                            <span class="badge text-bg-{% if action == 'permit' %}green
                                            {% elif action == 'deny' %}red
                                            {% elif action == 'log' %}orange
                                            {% elif action == 'count' %}orange
                                            {% elif action == 'reject' %}red
                                            {% endif %}"
                                            >{{ action }}</span>
                                        {% endfor %}
                                    </td>
                                    <td>{{ row.direction }}</td>
                                    <td>{{ row.source_zone|linkify }} &rarr; {{ row.destination_zone|linkify }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% if policy_context.address_set_object_paths %}
                        <p class="text-muted mb-1">{% trans "Address Set Hierarchy" %}</p>
                        {% for path in policy_context.address_set_object_paths %}
                            <div>
                                {% for address_set in path %}
                                    {% if not forloop.first %} &rarr; {% endif %}
                                    {{ address_set|linkify }}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% else %}
                    <span class="text-muted">{% trans "No policy context found for this object." %}</span>
                {% endif %}
            </div>
        </div>
        {% include 'inc/panels/custom_fields.html' %}
        {% plugin_left_page object %}
    </div>
    <div class="col col-md-6">
        {% include 'inc/panels/comments.html' %}
        {% include 'inc/panels/tags.html' %}
        {% plugin_right_page object %}
    </div>
    {% plugin_full_width_page object %}
</div>
{% endblock %}